.idea/
.vscode/
*.iml
.env
.DS_Store
venv/
.pytest_cache/
**__pycache__/
.pylintrc
test.py
dev.db
app/scraper/save_page_selenium.py
*.html
dumps/datetime_log.txt
datetime_log.txt
app/scraper/init_db_2.py
README_my.md
celerybeat-schedule
